<div class="container">
  <h1 class="center">Stupid Coach</h1>
  <hr>
  <form action="/answer" method="get">
    <input type="text" name="input" placeholder="Ask your question...">
    <input type="submit" value="Ask!">
  </form>
</div>
